
.idea/inspectionProfiles/Project_Default.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/SSH-Blocking-and-Scanning.iml
.idea/workspace.xml
.idea/vcs.xml

.idea/dictionaries/Sam.xml
.idea/markdown-exported-files.xml